<%- include("partials/header"); -%> 


<h1>Reset</h1>

<form action="/reset" method="post">
    <label for="">Blog title to reset</label>
    <input type="text" name="postToReset" class="form-control"><br>
    <button type="reset" class="btn btn-primary">Reset</button>
</form>

<%- include("partials/footer"); -%> 


